<!-- <h1><%= @places.inspect %></h1> -->

<% @places.each do |place| %>
  <div class="booyah-box">
    <h1><%= place.name %></h1><br />
    <i><%= place.address %></i><br />
    <p><%= place.description %></p><br />
  </div>



  <hr />
<% end %>